<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body></body>
  <footer th:fragment="footer" class="footer">
      <div class="container-footer">
        <div class="row-footer">
          <div class="footer-col">
            <h4>Faver</h4>
            <ul class="ul-list-style">
              <li><a href="/aboutus.html">About us</a></li>
              <li><a href="/mission.html">Mission Statement</a></li>
              <li><a href="/page2B.html">Explore by Country</a></li>
              <li><a href="/page3B.html">Explore by Food</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul class="ul-list-style">
              <li><a href="#">Docs</a></li>
              <li><a href="/aboutus.html">About us</a></li>
            </ul>
          </div>
          <a href="/index.html" class="footerLink">
            <div class="headerTextFooter titleFont">
              <img src="/faver logo.svg" alt="logo" />
              <h2>FAVER</h2>
            </div>
          </a>
          <p class="footer-bottom"><span>&copy;</span>2024 Australian Copyright</p>
        </div>
      </div>
  </footer>
</html>
