.content {
  padding-top: 6rem;
  padding-left: 6rem;
}

#mission-img:hover {
  transform: rotate(360deg);
  filter: invert(20%) hue-rotate(85deg) brightness(200%) contrast(20%);
}

#mission-img {
  transition: 1s;
}

.user-text:hover {
  transform: scale(1.3);
}

.user-img:hover {
  transform: scale(1.3);
}

.user-text {
  transition: transform .2s;
}

.user-img {
  transition: transform .2s;
}






.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 7rem 0;
}

.text-side {
  flex: 1;
  max-width: 50%;
}

.image-side {
  flex: 1;
  max-width: 50%;
  text-align: center;
}

.image-side img {
  width: 75%; /* Adjusted to use full width of the container */
  max-width: 400px; /* Max width for larger displays */
  height: auto; /* Maintain aspect ratio */
  padding-left: 10rem;
}

@media (max-width: 768px) {
  .content-section {
    flex-direction: column;
    text-align: center;
  }

  .text-side,
  .image-side {
    max-width: 100%;
  }

  .image-side img {
    width: 100%;
  }
}
