<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Mission Statement</title>
    <link rel="stylesheet" type="text/css" href="common.css" />
    <link rel="stylesheet" type="text/css" href="statement.css" />
    <link rel="stylesheet" type="text/css" href="statementStyle.css" />
  </head>
  <body>
    <div>
      <header th:replace="templates/components/navbar.html :: navbar"></header>
    </div>

    <section>
      <div class="container">
        <div class="content-section">
          <div class="text-side">
            <h1 class="fs-primary-heading fw-bold">Mission Statement</h1>
            <p style="font-size: 1.3rem; text-align: justify">
              Our mission at Faver is to raise awareness and educate all users
              of the food supply chain of the devastating effects of food waste.
              We firmly believe that if people come together and actively work
              towards preventing food loss we can significantly increase
              sustainability.
            </p>
          </div>
          <div class="image-side">
            <img
              th:src="@{dart-mission-goal-success-svgrepo-com.svg}"
              alt="mission statement image"
              id="mission-img"
            />
          </div>
        </div>
        <hr style="width: 100%; text-align: left; margin-left: 0" />
        <h2 class="fs-primary-heading fw-bold food-loss-title" style="padding-top: 2rem;">Food Loss vs. Food Waste</h2>
        <div class="food-loss-waste-section">
          <div class="content-section">
            <div class="text-side">
              
              <div class="food-loss">
                <p style="font-size: 1.3rem;"><span style="font-weight: bold;">Food Loss</span> refers to edible food that is discarded during the food supply stage before it reaches retail and consumers.</p>
              </div>
              <h3 style="font-weight: bold; text-decoration: underline; font-size: 1.3rem;">Whereas</h3>
              <div class="food-waste">
                <p style="font-size: 1.3rem;"><span style="font-weight: bold;">Food Waste</span> refers to discarded food products at the retail and consumer levels.</p>
              </div>
            </div>
          </div>
        </div>

        <hr style="width: 100%; text-align: left; margin-left: 0" />
        <div class="fs-primary-heading fw-bold">Our Users</div>

        <div>
          <p style="font-size: 1.3rem">
            Here at Faver we like to believe our website and its services
            targets everyone involved in the food supply chain from consumers to
            processing facilities. Meet some of our users...
          </p>
        </div>

        <div class="container" th:each="user : ${users}">
          <div
            class="content-section"
            style="padding-bottom: 2rem; padding-top: 5rem"
          >
            <div class="image-side">
              <img
                th:src="@{${user.imageFilePath}}"
                alt="user image"
                class="user-img"
              />
            </div>
            <div class="text-side user-text">
              <p style="font-size: 1rem; text-align: justify">
                <span style="font-weight: bold">Background: </span>
                <span th:text="${user.background}"></span><br /><br />
                <span style="font-weight: bold">Needs & Goals: </span>
                <span th:text="${user.needs}"></span>
              </p>
            </div>
          </div>
        </div>

       
        

        <div class="fs-primary-heading fw-bold">Team Members</div>

        <div class="container team-members-container" th:each="student, iterStat: ${students}">
          <div class="content-section">
            <div class="">
              <p style="font-size: 1.3rem">
              <span style="font-weight: bold; text-decoration: underline;">Student </span><span style="font-weight: bold; text-decoration: underline;" th:text="${iterStat.count}"></span><br/>
               <span style="font-weight: bold;">Name: </span>
               <span th:text="${student.name}"></span><br/>
               <span style="font-weight: bold;">StudentID: </span>
               <span th:text="${student.studentID}"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
  </body>
  <footer th:replace="templates/components/footer.html :: footer"></footer>
</html>