<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="common.css" />
    <link rel="icon" th:src="@{faverlogoblack.svg}"/>
  </head>
  <body>
    <div>
      <header th:replace="templates/components/navbar.html :: navbar"></header>
    </div>
    <div id="progress-container">
      <div id="progress-bar"></div>
    </div>
    <main class="container" id="content">
      <section>
        <div class="container">
          <div class="content-section">
            <div class="text-side">
              <h1 class="fs-primary-heading fw-bold">
                Transforming Our Approach to Food Sustainability
              </h1>
              <p>
                Introducing the purpose with a captivating title such as
                "Gaining Insight into Food Loss and Waste: Revealing the Facts,
                Inspiring Transformation".
              </p>
              <button class="button">Explore Data</button>
            </div>
            <div class="image-side">
              <img
                th:src="@{Macbook Air (2022).svg}"
                alt="video demonstration"
              />
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="even-columns">
            <div class="image_challenge">
              <img
                th:src="@{board management color.svg}"
                alt="board 1"
                class="item1 dark-image"
              />
              <img
                th:src="@{internet board management color.svg}"
                alt="board 2"
                class="item2 dark-image"
              />
              <img
                th:src="@{tick hand color.svg}"
                alt="hand"
                class="item3 dark-image"
              />
            </div>
            <div class="faver_challenge">
              <h2 class="fs secondary-heading fw-bold">Faver's Challenge</h2>
              <p>
                Faver optimizes food waste management throughout the food supply
                chain. We help businesses and consumers make sustainable choices
                with cutting-edge tracking technologies. Due to many concerns,
                we analyzed supplier data. These analyses can help us attain
                optimal results.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="even-columns">
            <div class="w-30p">
              <h2 class="fs secondary-heading fw-bold">How Can Faver Help?</h2>
              <p>
                Provide a narrative of how Faver was founded, including the
                inspiration behind the project and any pivotal moments in its
                development. Mention significant milestones like major
                achievements or awards.
              </p>
              <button class="button" data-type="inverted">About us</button>
            </div>
            <div style="margin-left: 2%">
              <ul class="numbered-items columns" role="list">
                <li>
                  <img th:src="@{cut_cost.svg}" class="hover-zoom" />
                  <h3 class="fs-600 fw-bold ml-10p">Cut Costs</h3>
                  <p class="ml-10p"><img th:src="@{green check tick.svg}" /></p>
                </li>
                <li>
                  <img th:src="@{Reduce_waste.svg}" class="hover-zoom" />
                  <h3 class="fs-600 fw-bold ml-10p">Reduce Waste</h3>
                  <p class="ml-10p"><img th:src="@{green check tick.svg}" /></p>
                </li>
                <li>
                  <img th:src="@{Efficiency.svg}" class="hover-zoom" />
                  <h3 class="fs-600 fw-bold ml-10p">Enhance Efficiency</h3>
                  <p class="ml-10p"><img th:src="@{green check tick.svg}" /></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="cta | bg-primary-200 text neutral-100">
        <div class="container">
          <div class="even-columns">
            <div>
              <p>
                Our database contains data and information from 1966 to 2022!
              </p>
            </div>
            
          </div>
        </div>
      </section>
      

      <section class="bar bar-body" style="padding-bottom: 200px;">
      <div class="description">
        <p class="per-lost">
            Highest loss of any commodity across<br> all the years is
        </p>
        <div class="card">
          <div class="rating">
            <h2>
              <span class="counter" data-target="61.1">61.1</span><sup>%</sup><br><HTML>
            </h2>
            <div class ="block">
            </div>
          </div>
        </div>
      </div>
      
      <div class="seeds-container" >
          <img th:src="@{mustard seeds.svg}" alt="seeds" style="border:solid gray; border-width:0 2px 0 0;"/>
          <div class="background-text">
            <div class="contents">
              <p>
                Mustard Seed
              </p>
              <p>
                2018
              </p>
            </div>
          </div>
      </div>

      </section>


    </main>
  </body>
  <footer th:replace="templates/components/footer.html :: footer"></footer>
  <script th:src="@{progressbar.js}"></script>
  <script th:src="@{barchart.js}"></script>
</html>
