<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Page3A</title>
    <link rel="stylesheet" type="text/css" href="common.css" />
  </head>
  <body>
    <div>
      <header th:replace="templates/components/navbar.html :: navbar"></header>
    </div>
    <div id="progress-container">
      <div id="progress-bar"></div>
    </div>
    <main class="container" id="content">
    </main>
  </body>
  <footer th:replace="templates/components/footer.html :: footer"></footer>
  <script th:src="@{progressbar.js}"></script>
  <script th:src="@{barchart.js}"></script>
</html>
